logic-app-sftp-ssh-parameterized/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      },
      "defaultValue": ""
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "integration_account": {
      "type": "string",
      "defaultValue": ""
    },
    "LogicAppIntegrationAccount": {
      "type": "string",
      "minLength": 1,
      "defaultValue": ""
    },
    "sftpwithssh_1_Connection_Name": {
      "type": "string",
      "defaultValue": ""
    },
    "sftpwithssh_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Create File"
    },
    "sftpwithssh_1_hostName": {
      "type": "string",
      "metadata": {
        "description": "Host server address"
      },
     "defaultValue": ""
    },
    "sftpwithssh_1_userName": {
      "type": "string",
      "metadata": {
        "description": "User name"
      },
      "defaultValue": ""
    },
    "sftpwithssh_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password"
      },
      "defaultValue": ""
    },
    "sftpwithssh_1_sshPrivateKey": {
      "type": "securestring",
      "metadata": {
        "description": "SSH private key (the content of the file should be provided entirely as is, in the multiline format)"
      },
      "defaultValue": ""
    },
    "sftpwithssh_1_sshPrivateKeyPassphrase": {
      "type": "securestring",
      "metadata": {
        "description": "SSH private key passphrase (if the private key is protected by a passphrase)"
      },
      "defaultValue": ""
    },
    "sftpwithssh_1_portNumber": {
      "type": "int",
      "metadata": {
        "description": "SFTP port number (example: 22)"
      },
      "defaultValue": null
    },
    "sftpwithssh_1_acceptAnySshHostKey": {
      "type": "bool",
      "metadata": {
        "description": "Disable SSH host key validation? (True/False)"
      },
      "defaultValue": true
    },
    "sftpwithssh_1_sshHostKeyFingerprint": {
      "type": "string",
      "metadata": {
        "description": "SSH host key finger-print"
      },
      "defaultValue": ""
    },
    "sftpwithssh_1_rootFolder": {
      "type": "string",
      "metadata": {
        "description": "Root folder path."
      },
      "defaultValue": ""
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Create_file": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sftpwithssh1']['connectionId']"
                  }
                },
                "method": "post",
                "body": "Testing the SFTP connectors",
                "headers": {
                  "ReadFileMetadataFromServer": true
                },
                "path": "/datasets/default/files",
                "queries": {
                  "folderPath": "/demo",
                  "name": "demo.txt",
                  "queryParametersSingleEncoded": true
                }
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Get_file_content": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sftpwithssh1']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Create_file')?['Id']))}/content",
                "queries": {
                  "inferContentType": true
                }
              },
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              }
            },
            "Response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": "@body('Get_file_content')"
              },
              "runAfter": {
                "Transform_XML_to_TEXT": [
                  "Succeeded"
                ]
              }
            },
            "Transform_XML_to_TEXT": {
              "inputs": {
                "content": "@{body('Get_file_content')}",
                "integrationAccount": {
                  "map": {
                    "name": "XML-TEXT"
                  }
                }
              },
              "type": "Liquid",
              "kind": "XmlToText",
              "runAfter": {
                "Get_file_content": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {}
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sftpwithssh1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sftpwithssh1')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sftpwithssh_1_Connection_Name'))]",
                "connectionName": "[parameters('sftpwithssh_1_Connection_Name')]"
              }
            }
          }
        },
        "integrationAccount": {
          "id": "[parameters('LogicAppIntegrationAccount')]"
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sftpwithssh_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('sftpwithssh_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sftpwithssh1')]"
        },
        "displayName": "[parameters('sftpwithssh_1_Connection_DisplayName')]",
        "parameterValues": {
          "hostName": "[parameters('sftpwithssh_1_hostName')]",
          "userName": "[parameters('sftpwithssh_1_userName')]",
          "password": "[parameters('sftpwithssh_1_password')]",
          "sshPrivateKey": "[parameters('sftpwithssh_1_sshPrivateKey')]",
          "sshPrivateKeyPassphrase": "[parameters('sftpwithssh_1_sshPrivateKeyPassphrase')]",
          "portNumber": "[parameters('sftpwithssh_1_portNumber')]",
          "acceptAnySshHostKey": "[parameters('sftpwithssh_1_acceptAnySshHostKey')]",
          "sshHostKeyFingerprint": "[parameters('sftpwithssh_1_sshHostKeyFingerprint')]",
          "rootFolder": "[parameters('sftpwithssh_1_rootFolder')]"
        }
      }
    }
  ],
  "outputs": {}
}
